annotated-doc      
annotated-types    
anyio              
certifi            
charset-normalizer 
click              
fastapi            
greenlet           
h11                
idna               
iniconfig          
nvdlib             
packaging          
pluggy             
pydantic           
pydantic-core      
pygments           
pytest             
python-dateutil    
python-dotenv      
requests           
six                
sqlalchemy         
starlette          
typing-extensions  
typing-inspection  
urllib3            
uvicorn            